---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import DocsSidebar from "@/components/docs/DocsSidebar.astro";
import DocsContent from "@/components/docs/DocsContent.astro";
import DocsTOC from "@/components/docs/DocsTOC.astro";
import Footer from "@/components/Footer.astro";
---

<Layout>
  <div class="flex min-h-screen flex-col">
    <Header />
    <div
      class="mx-auto flex w-full max-w-360 flex-1 items-start gap-4 px-4"
    >
      <DocsSidebar />
      <DocsContent />
      <DocsTOC />
    </div>
    <Footer />
  </div>
</Layout>
