<a href="/" id="logo-home" class="flex shrink-0 items-center select-none w-[132px]" aria-label="Pomelo home">
  <img src="/poemlo_black.svg" alt="Pomelo" class="light-logo h-9 w-[132px]" width="278" height="76" />
  <img src="/pomelo_white.svg" alt="Pomelo" class="dark-logo h-9 w-[132px]" width="278" height="76" />
</a>
