<a href="/" id="logo-home" class="flex items-center select-none" aria-label="Pomelo home">
  <img src="/poemlo_black.svg" alt="Pomelo" class="light-logo h-9 w-auto" />
  <img src="/pomelo_white.svg" alt="Pomelo" class="dark-logo h-9 w-auto" />
</a>
